In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cust_satisfaction.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [4]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

Gender                        0
Customer Type                 0
Type of Travel                0
Class                         0
satisfaction                  0
Age                           0
Flight Distance               0
Inflight entertainment        0
Baggage handling              0
Cleanliness                   0
Departure Delay in Minutes    0
Arrival Delay in Minutes      0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(172)

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [11]:
df['Customer Type'].unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [12]:
Cust_dict={'Loyal Customer':1, 'disloyal Customer':2}

In [13]:
Cust_dict

{'Loyal Customer': 1, 'disloyal Customer': 2}

In [ ]:
df['Customer Type'] = df['Customer Type'].map(Cust_dict)

In [15]:
df['Customer Type']

0         1
1         2
2         1
3         1
4         1
         ..
103899    2
103900    1
103901    2
103902    2
103903    1
Name: Customer Type, Length: 103422, dtype: int64

In [17]:
df['Type of Travel'].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [18]:
travel_dict={'Personal Travel':1, 'Business travel':2}

In [19]:
travel_dict

{'Personal Travel': 1, 'Business travel': 2}

In [20]:
df['Type of Travel'] = df['Type of Travel'].map(travel_dict)

In [21]:
df['Type of Travel']

0         1
1         2
2         2
3         2
4         2
         ..
103899    2
103900    2
103901    2
103902    2
103903    2
Name: Type of Travel, Length: 103422, dtype: int64

In [23]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [24]:
gender_dict = {'Male':1, 'Female':2}

In [25]:
df['Gender'] = df['Gender'].map(gender_dict)

In [26]:
df['Gender']

0         1
1         1
2         2
3         2
4         1
         ..
103899    2
103900    1
103901    1
103902    2
103903    1
Name: Gender, Length: 103422, dtype: int64

In [27]:
df['Class'].unique()

array(['Eco Plus', 'Business', 'Eco'], dtype=object)

In [28]:
class_dict={'Eco':1,'Eco Plus':2,'Business':3}

In [29]:
df['Class'] = df['Class'].map(class_dict)

In [30]:
df['Class']

0         2
1         3
2         3
3         3
4         3
         ..
103899    1
103900    3
103901    3
103902    1
103903    3
Name: Class, Length: 103422, dtype: int64

In [31]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,1,2,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,1,2,2,3,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,2,1,2,3,satisfied,26,1142,5,4,5,0,0.0
3,2,1,2,3,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,1,1,2,3,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,2,2,2,1,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,1,1,2,3,satisfied,49,2347,5,5,4,0,0.0
103901,1,2,2,3,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,2,2,2,1,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,1,1,2,3,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [32]:
df['satisfaction'].unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [33]:
satis_dict={'neutral or dissatisfied':1, 'satisfied':2}

In [35]:
df['satisfaction']= df['satisfaction'].map(satis_dict)

In [36]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,1,2,1,13,460,5,4,5,25,18.0
1,1,2,2,3,1,25,235,1,3,1,1,6.0
2,2,1,2,3,2,26,1142,5,4,5,0,0.0
3,2,1,2,3,1,25,562,2,3,2,11,9.0
4,1,1,2,3,2,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,2,2,2,1,1,23,192,2,4,2,3,0.0
103900,1,1,2,3,2,49,2347,5,5,4,0,0.0
103901,1,2,2,3,1,30,1995,4,4,4,7,14.0
103902,2,2,2,1,1,22,1000,1,1,1,0,0.0
103903,1,1,2,3,1,27,1723,1,4,1,0,0.0

In [38]:
x= df.drop('Gender',axis=1)
y = df[['Gender']]

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=21)